<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
         <nav>
            <a href="../../index.html" class="logo">Eminem</a>
            <ul>
                <li> <a href="../../index.html">home</a></li>
                <li> <a href="discografia.html">discografia</a></li>
                <li> <a href="historia.html">historia</a></li>
                <li> <a href="galeria.html">galeria</a></li>
                <li> <a href="contacto.html">contacto</a></li>
            </ul>
        </nav>

    </header>

    <main class="discografia">

        <section class="album">
            <h2>Albumes de studio</h2>
            <ul class="lista_discografia">
                <li>1996: infinite</li>
                <li>1999: the slim shady LP</li>
                <li>2000: the marshall Mathers LP</li>
                <li>2002: the eminem show</li>
                <li>2004: encore</li>
                <li>2009: relapse</li>
                <li>2010: recovery</li>
                <li>2013: the marshall Mathers LP2</li>
                <li>2017: revival</li>
                <li>2018: kamikaze</li>
                <li>2020: music to be murdered</li>
            </ul>
       </section>
           
       <section>
           <h2>Sencillos</h2>
          <ul class="lista_discografia">
              <li>1997: the slim shady EP</li>
              <li>2011: hell: the sequel</li>
          </ul>
       </section>
       
       <section>
           <h2>Recopilaciones</h2>
           <ul class="lista_discografia">
               <li>2005: curtain call: the hits</li>
               <li>2006: eminem presents: the Re Up</li>
               <li>2014: shady xv</li>
           </ul>
       </section>
       </main>
        
       <footer class="footer">
        <h2>Escuchar online</h2>
        <h2>Seguinos en redes</h2>
        <picture>
            <img src="../images/social_facebook_fb_35.png" alt="facebook">
            <img src="../images/social_instagram_3.png" alt="instagram">
            <img src="../images/social_Twitter_38.png" alt="twitter">
        </picture>
       
           
    </footer>



   
</body>
</html>