<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
      
        <nav>
            <a href="../../index.html" class="logo">Eminem</a>
            <ul>
                <li> <a href="../../index.html">home</a></li>
                <li> <a href="discografia.html">discografia</a></li>
                <li> <a href="historia.html">historia</a></li>
                <li> <a href="galeria.html">galeria</a></li>
                <li> <a href="contacto.html">contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="historia"> 
        <section class="primera">
           <h2>Biografia</h2>
      <p>Nació en Saint Joseph, Misuri. Poco después de su nacimiento, su padre abandonó
       a su familia. Hasta los 15 años, Mathers y su madre se trasladaron entre varias
       ciudades y pueblos de Misuri incluyendo St. Joseph, Savannah y Kansas City
      ​ antes de ir a Warren, Míchigan, un suburbio de Detroit. Después de adquirir una
       copia de los álbumes de Beastie Boys, Run D.M.C., The Sugarhill Gang, Boogie Down
       Productions, Big Daddy Kane, N.W.A, Eazy-E, Schoolly D, Public Enemy e Ice-T, al 
       ser un preadolescente, Mathers se interesó mucho en el hip hop. 
       Interpretó de forma aficionada rap a los catorce años bajo el seudónimo de «M&M»
       entrando en un grupo llamado «Bassmint Productions» y lanzando su primer EP
       Steppin' Onto The Scene. Más tarde cambiaron su nombre a «Soul Intent» y alrededor
       de 1995 lanzaron su primer sencillo Fuckin' Backstabber bajo el sello discográfico 
       Mashin' Duck Records​ A pesar de que fue inscrito en la escuela Lincoln High School
       en Warren frecuentemente participó en las batallas de freestyle
       en la escuela Osborn High School en la ciudad obteniendo la aprobación del público
       del underground hip hop. Después de repetir el noveno grado tres veces debido
       a ausencias injustificadas, abandonó la escuela a la edad de 17 años.Aquello 
       hizo más difícil hacer amigos y llevar una vida normal. En noveno grado
       Marshall decidió que estudiar no era lo suyo. 
       Comenzó a trabajar como cocinero de la parrilla Gilbert's Lodge. 
       Posteriormente, Marshall intentó introducirse en la música profesional.
      
      </p>
        </section>
      
        <section class="segunda"> 
            <h2>Carrera musical</h2>
            <h3>1996: infinite</h3>
            <p> Es el primer álbum de Mathers,fue lanzado el 12 de noviembre de 1996 
                por Web Entertainment.Las sesiones de grabación se llevaron a cabo por
                los Bass Brothers, conocidas como Bassmint Productions, 
                la producción estuvo a cargo de Mr. Porter.El álbum cuenta con canciones
                de Proof, Eye-Kyu y Angela Workmen en una pista. 
                El álbum solo vendió 1000 copias,
                recientemente fue introducida de manera digital.Infinite inicialmente
                recibió críticas mixtas de los críticos que elogiaron su contenido lírico.
                En 1992, Mathers firmó inicialmente con Bass Brothers, que ha sido dirigido
                por los hermanos Jeff y Mark Bass. 
                En ese tiempo Mathers aún ganaba un salario mínimo 
                trabajando en el restaurante rústico de Gilbert en St. Clair Shores 
                desde hace algún tiempo. 
                En 1996, el álbum debut de Eminem Infinite, que fue grabado en el Bassmint
                un estudio de grabación propiedad de los Bass Brothers.
                fue puesto en libertad bajo el sello independiente de Web Entertainment.
                El 17 de noviembre de 2016, una remezcla de la pista del título del álbum
                Infinite fue lanzado en conmemoración del 20 aniversario del álbum
                seguido de un documental acerca de la realización del álbum 
                en el mismo día.17​</p>
        </section>
      
        <section class="tercera">
            <h2>Memorias</h2>
            <p>El 21 de octubre de 2008, Eminem publicó una autobiografía titulada
               The Way I Am (en español, Cómo soy yo)
               al igual que la canción, donde cuenta su lucha con la pobreza. 
               las drogas, la fama, la angustia y la depresión, junto con historias
               acerca de su ascenso a la fama y comentarios sobre las controversias de su
               pasado. En este libro también se encuentran algunas hojas
               de las letras originales de varias canciones
               como Stan y The Real Slim Shady.71​</p>
        </section>
      
      </main>

      <footer class="footer">
        <h2>Escuchar online</h2>
        <h2>Seguinos en redes</h2>
        <picture>
            <img src="../images/social_facebook_fb_35.png" alt="facebook">
            <img src="../images/social_instagram_3.png" alt="instagram">
            <img src="../images/social_Twitter_38.png" alt="twitter">
        </picture>
       
           
    </footer>













    
</body>
</html>